body { background: #4b7824; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 50px; display: flex; }
.block-helper-0 { color: #c8d3de; font-size: 16px; margin-bottom: 5px; }
.block-shipping-1 { color: #39066; font-size: 15px; margin-bottom: 5px; }
.block-token-2 { color: #13d474; font-size: 17px; margin-bottom: 5px; }
.block-router-3 { color: #74bd3a; font-size: 17px; margin-bottom: 5px; }
.block-notify-4 { color: #2c788c; font-size: 19px; margin-bottom: 5px; }
.block-user-5 { color: #3d5cad; font-size: 17px; margin-bottom: 5px; }